---

---

<section class="relative my-16">
  <div class="text-center m-0">
    <h1 class="uppercase text-7xl font-semibold" id="headline">
      termina el aguacero
    </h1>
    <div id="countdown" class="font-semibold mt-6">
      <ul>
        <li class="inline-block text-[1.5em] list-none p-4 uppercase">
          <span class="text-7xl block" id="days"></span>Días
        </li>
        <li class="inline-block text-[1.5em] list-none p-4 uppercase">
          <span class="text-7xl block" id="hours"></span>Horas
        </li>
        <li class="inline-block text-[1.5em] list-none p-4 uppercase">
          <span class="text-7xl block" id="minutes"></span>Minutos
        </li>
        <li class="inline-block text-[1.5em] list-none p-4 uppercase">
          <span class="text-7xl block" id="seconds"></span>Segundos
        </li>
      </ul>
    </div>
  </div>
</section>

<script src="../countdown.js"></script>
