<section class="h-lvh bg-black">
  <video class="relative w-screen" src="/assets/hero.mp4" autoplay loop></video>
  <div class="relative -top-[450px] text-center">
    <img class="w-[600px]" src="/assets/hero-logo.webp" alt="" />
  </div>
</section>
